:root{
    --badge-bg-color: #b3d2f5;
    --discord-color:#738ADB;
    --messanger-color:#006AFF;
}

#badge-container p span{
    background-color: var(--badge-bg-color);
    border-radius: 5px;
    padding: 2px;
}

.icons-container{
    display: flex;
    gap: 2.5rem;
    padding: 1rem 2rem;
}

.icon i{
    font-size: 3.5rem;
}

.icon span{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1rem;
    width: 1rem;
    padding: 12px;
    background-color: red;
    color: white;
    border-radius: 50%;
    position: relative;
    bottom: 4rem;
    left: 2.5rem;
}

.discord-icon {
    color: var(--discord-color);
}

.messanger-icon{
    color: var(--messanger-color);
}

.status-avatar-iframe{
    width: 100%; 
    min-height: 31.5rem; 
    max-height: auto;
    border:0; 
    transform: scale(1); 
    overflow:hidden;
}

.icon-badge-iframe{
    width: 100%; 
    min-height: 28rem;
    max-height: auto; 
    border:0; 
    transform: scale(1); 
    overflow:hidden;
}