:root{
    --secondary-btn-color:#d0f7f0;
    --secondary-btn-hover-color:#aaffef;
}
.btns{
    display: flex;
    gap: 1.25rem;
    padding: 1rem;
    margin-top: 1rem;
    margin-left: 3rem;
    margin-bottom: 2rem;
    width: 80%;
    justify-content: center;
    align-items: center;
    height: 10rem;
    box-shadow: 1px 1px 10px 8px rgba(0,0,0,0.1);
}

.btn{
    border: none;
    border-radius: 10px;
    padding: 10px 1rem;
    transition: .4s all ease-in-out;
    cursor: pointer;
}

.btn a{
    text-decoration: none;
}

.btn i{
    color: var(--white-color);
}

.primary-btn{
    background-color: var(--primary-color);
    color: white;
}

.secondary-btn{
    background-color: var(--secondary-btn-color);
}

.danger-btn{
    color: white;
    background-color:var(--danger-color);
}

.primary-btn:hover{
    background-color: var(--dark-primary-color);
    color: white;
}

.secondary-btn:hover{
    background-color: var(--secondary-btn-hover-color);
}

.danger-btn:hover{
    color: white;
    background-color: var(--dark-danger-color);
}

.outline-primary-btn{
    color: black;
    border: 1px solid var(--primary-color);
    background-color:white;
}

.outline-primary-btn{
    color: var(--primary-color);
}

.outline-primary-btn:hover{
    background-color: var(--primary-color);
    color: white;
}

.outline-secondary-btn:hover{
    background-color: var(--secondary-btn-hover-color);
}

.outline-danger-btn:hover{
    color: white;
    background-color: var(--danger-color);
}

.outline-secondary-btn{
    border: 1px solid var(--secondary-btn-color);
    background-color:white;
}

.outline-danger-btn{
    border: 1px solid var(--danger-color);
    color: var(--danger-color);
    background-color:var(--white-color);
}

.link-primary-btn a{
    color: var(--white-color);
}

.link-outline-btn a{
    color: var(--primary-color);
}

.link-outline-btn a:hover{
    color: var(--white-color);
}

.icon-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: var(--primary-color);
    border: none;
}

.icon-btn i{
    color: var(--white-color);
    font-size: 1.3rem;
}

.icon-btn:hover{
    background-color: var(--dark-primary-color);
}

.float-action-btn{
    position: sticky;
    left: 94%;
    bottom: 3%;
}

.solid-btn-iframe{
    width: 36.8rem; 
    height: 15.1rem; 
    border:0; 
    transform: scale(1); 
    overflow:hidden;
}

.outline-btn-iframe{
    width: 41rem; 
    height: 15.1rem; 
    border:0; 
    transform: scale(1); 
    overflow:hidden;
}

.icon-btn-iframe{
    width: 100%; 
    height: 14.1rem; 
    border:0; 
    transform: scale(1); 
    overflow:hidden;
}

.link-btn-iframe{
    width: 65.5rem; 
    height: 16.25rem; 
    border:0; 
    transform: scale(1); 
    overflow:hidden;
}

.icon-btn-iframe2{
    width: 65.5rem; 
    height: 15.1rem; 
    border:0; 
    transform: scale(1); 
    overflow:hidden;
}

.floating-btn-iframe{
    width: 56.6rem; 
    height: 12.813rem; 
    border:0; 
    transform: scale(1); 
    overflow:hidden;
}

@media screen and (max-width:480px) {
    .btns{
        width: 80%;
        margin: 1rem auto;
    }
}