@import url('../styles.css');

.list-container{
    display: flex;
    padding: 2rem;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    gap: 5rem;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2rem 3rem;
}

.list-style-circle{
    list-style-type: circle;
}

.list-style-square{
    list-style-type: square;
}

.list-style-none{
    list-style-type: none;
}

.list-style-decimal-leading-zero{
    list-style-type: decimal-leading-zero;
}

.list-style-lowerCase-alphabet{
    list-style-type: lower-alpha;
}

.list-style-upperCase-alphabet{
    list-style-type: upper-alpha;
}

.list-style-lower-roman{
    list-style-type: lower-roman;
}

.list-style-upper-roman{
    list-style-type: upper-roman;
}

.list-style-inline{
    list-style-type: circle;
    display: contents; 
}

.unordered-list-iframe{
    width: 29.5rem; 
    height: 35rem; 
    border:0; 
    transform: scale(1); 
    overflow:hidden;
}

.ordered-list-iframe{
    width: 33.625rem; 
    height: 47.688rem; 
    border:0; 
    transform: scale(1); 
    overflow:hidden;
}

.inline-list-iframe{
    width: 26.25rem; 
    height: 17.438rem; 
    border:0; 
    transform: scale(1); 
    overflow:hidden;
}

@media screen and (max-width:480px) {
    .list-container{
        margin: 1rem 0rem;
        width: 22rem;
    }
}