@import url('../styles.css');

.modals-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 12rem;
    max-height: auto;
    box-shadow: 1px 1px 10px 8px rgba(0,0,0,0.1);
    margin: 0 4rem;
}

.modal-content{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    justify-content: center;
    align-items: center;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40%;
    left: 40%;
    background-color: var(--white-color);
    box-shadow: 1px 1px 10px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
    padding: 1rem 2rem 2rem 2rem;
}

.close-btn{
    height: 2rem;
    width: 2rem;
    border: none;
    font-size: 1.5rem;
    background: none;
    margin-left: 16rem;
    transition: .3s all ease-in-out;
    cursor: pointer;
}

.close-btn:hover{
    transform: scale(1.4);
}

.modal-heading{
    font-size: 1.7rem;
    margin-top: 1rem;
}

.modal-text{
    font-size: 1.1rem;
}

.modal-btns{
    display: flex;
    gap: 1.5rem;
    margin: 1rem 0;
}

.modal-iframe{
    width: 100%; 
    height: 25.625rem; 
    border:0; 
    transform: scale(1); 
    overflow:hidden;
    margin: 1rem 0;
}

@media screen and (max-width:480px) {
    .modals-container{
        margin: 1rem 0rem;
    width: 22rem;
        padding: 1rem 0;
    }
}
