@import url('../styles.css');

.navigation-navbar-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    margin: 2rem 0;
}

.navigation-navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 4rem;
    background-color: var(--primary-color);
    color: var(--white-color);
}

.navigation-logo{
    font-size: 2rem;
    font-weight: 600;
    cursor: pointer;
    color: var(--white-color);
}

.navigation-links{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 0 2rem;
}

.navigation-link{
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.3rem;
    cursor: pointer;
}

.navigation-link:hover{
    color: red;
}

.navigation-nav-iframe{
    width: 60rem;
    height: 20rem;
    border:0;
    transform: scale(1); 
    overflow:scroll;
}

@media screen and (max-width:480px) {
    .navigation-navbar-container{
        margin: 1rem 0rem;
        width: 23rem;
        padding: 1rem 0;
    }

    .navigation-links{
        gap: 0 10px;
    }
}