:root{
    --dark-primary-color:#002046;
}

.range-slider{
    width: 20rem;
    border: 1px solid;
    border-radius: 12px;
    padding: 2rem;
}

.filters{
    padding: 1rem 1rem;
}

.filter-name{
    background-color: var(--gray-bg-dark-color);
    padding-left: 1rem;
}

.price-input{
    display: flex;
    margin: 1rem 0 1rem
}

.field{
    height: 2rem;
    display: flex;
    align-items: center;
}

.field input{
    height: 80%;
    width: 50%;
    margin-left: 5px;
    outline: none;
    font-size: 1rem;
    text-align: center;
    border-radius: 5px;
    border: 1px solid ;
    -moz-appearance: textfield;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button{
   -webkit-appearance: none;
}


.separator{
    width: 1rem;
    display: flex;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    margin-left: -1rem;
}

.slider{
    height: 5px;
    border-radius: 5px;
    background-color: var(--gray-bg-color);
    position: relative;
}

.progress{
    height: 5px;
    left: 25%;
    right: 25%;
    position: absolute;
    border-radius: 5px;
    background-color: var(--primary-color);
}

.range-input{
    position: relative;
    margin-bottom: 1rem;
}

.range-input input{
    position: absolute;
    top: -5px;
    height: 5px;
    width: 100%;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    background-color: var(--primary-color);
}

input[type='range']::-webkit-slider-thumb{
    height: 17px;
    width: 17px;
    border-radius: 50%;
    pointer-events: auto;
    -webkit-appearance: none;
    background-color: var(--primary-color);
    cursor: all-scroll;
}

input[type='range']::-moz-range-thumb{
    height: 17px;
    width: 17px;
    border: none;
    border-radius: 50%;
    pointer-events: auto;
    -webkit-appearance: none;
    background-color: var(--primary-color);
}

.range-slider-iframe{
    width: 58.885rem; 
    height: 40.188rem; 
    border:0; 
    transform: scale(1); 
    overflow:hidden;
}

@media screen and (max-width:480px) {
    .range-slider{
        margin: 1rem 0rem;
        width: 22rem;
        padding: 1rem 1rem;
    }

    .range-slider-iframe{
        margin-bottom: 2rem;
    }
}