@import url('../styles.css');

.grids-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 3rem;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    margin: 2rem;
    background-color: var(--bg-color);
}

.grids-container h3{
    margin: 1rem 0;
}

.grid{
    display: grid;
    width: 100%;
    gap: 1rem 1rem;
}

.child{
    display: grid;
    place-items: center;
    height: 3rem;
    border: 1px solid var(--primary-color);
    background-color: var(--lite-bg-color);
}

.grid-2{
    grid-template-columns: repeat(2,1fr);
}

.grid-3{
    grid-template-columns: repeat(3,1fr);
}

.grid-4{
    grid-template-columns: repeat(4,1fr);
}

.grid-5{
    grid-template-columns: repeat(5,1fr);
}

.grid-6{
    grid-template-columns: repeat(6,1fr);
}

.responsive-grid{
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.grid-container-iframe{
    width: 50rem; 
    height: 35rem; 
    border:0; 
    transform: scale(1); 
    overflow:scroll;
    margin-bottom: 3rem;
}

.grid-template-area-property{
    display: grid;
    grid-template-columns: .5fr 1fr .5fr;
    grid-template-rows: .4fr 1fr .4fr;
    width: 100%;
    height: 30rem;
    padding: 3rem 3rem;
    gap: 10px 10px;
    box-shadow: 1px 2px 10px 7px rgba(0,0,0,0.1);
    border-radius: 10px;
    margin: 2rem 0;
    grid-template-areas: 
     'header header header'
     'left-sidebar main-content right-sidebar'
     'footer footer footer';
}

.header{
    grid-area: header;
    background-color: var(--pink-color);
}

.left-sidebar{
    grid-area: left-sidebar;
    background-color: var(--dark-blue-color);
}

.right-sidebar{
    grid-area: right-sidebar;
    background-color: var(--extra-orange-color);
}

.main-content{
    grid-area: main-content;
    background-color: var(--complimentary-blue-color);
}

.grid-footer{
    grid-area: footer;
    background-color: var(--teal);
}

.grid-template-area-property-iframe{
    width: 37.313rem; 
    height: 19.75rem; 
    border:0; 
    transform: scale(1); 
    overflow:hidden;
}

@media screen and (max-width:480px) {
    .grids-container{
        margin: 1rem 0rem;
        width: 22rem;
        padding: 1rem 0;
    }

    .grid-template-area-property{
        margin: 1rem 0rem;
        width: 22rem;
        padding: 1rem 0;
    }
}


