.usage-container h1{
    font-size: 2rem;
}

.usage-container p{
    font-size: 1.2rem;
}

.usage-iframe{
    width: 100%; 
    min-height: 20rem; 
    max-height: auto;
    border:0; 
    transform: scale(1); 
    overflow:hidden;
}